.home-header {
  text-align: start;
  margin-bottom: 40px;
  font-weight: bold;
}

.home-header h1 {
  text-decoration: none;
  text-align: center;
  font-size: 2.5rem;
  color: #000000;
  font-weight: 900;
  margin-bottom: 10px;
}

.home-header p {
  font-size: 1.2rem;
  color: #000000;
}

.home-features {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1200px;
}

.feature-card {
  background-color: #ffffff;
  border-radius: 10px;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.feature-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.feature-card h2 {
  font-size: 1.5rem;
  color: #020202;
  font-weight: 900;
  margin-bottom: 10px;
}

.feature-card p {
  font-size: 1rem;
  color: #666;
}

.feature-card button {
  margin-top: 1rem;
  padding: 0.60rem;
  background-color: #51807F;
  color: #ffffff;
  border: none;
  border-radius: 8px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.feature-card button:hover {
  background-color: #3f5d5ce6;
  transform: translateY(-2px);
}

.feature-card button:active {
  transform: translateY(0);
}