nav {
  display: block;
  background-color: hsl(0, 100%, 99%, 0.8);
  padding: 14px 20rem;
  max-width: 100%;
  margin: 0 auto;
}

.info-page {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 12px;
  text-decoration: none;
}


nav div {
  display: flex;
  max-width: 100%;
  justify-content: space-between;
}

.auth-buttons-container {
  display: flex;
  align-self: center;
  justify-content: center;
  gap: 15px;
}
nav a.button-auth {
  text-decoration: none;
  color: #777777;
  cursor: pointer;
  font-weight: bold;
  transition: color 0.3s ease;
}

.button-auth:hover {
  color: black; /* Cambia el color del texto a negro */
}

nav button.buttonLogout {
  background-color:#ffffff;
  text-decoration: none;
  color: #777777;
  font-size: 18px;
  margin: 0 10px;
  padding: 5px 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

.title {
  text-decoration: none;
  color: #777777;
  font-size: 24px;
  font-weight: bold;
  padding: 0px 20px;
}

nav button.buttonLogout:hover {
  background-color: #c1c1c1;
  color: #000000;
}

.logo{
  height: 50px;
}